[nix]
channel = "stable-24_05"

[workflows]
runButton = "Development Server"

[[workflows.workflow]]
name = "Development Server"
author = 22930014
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m http.server 5000"

[[workflows.workflow]]
name = "Static Server"
author = 22930014
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx serve . -p 5000"
